.input-area{
    width: 80%;
    margin: 10px;
}
.btn{
    width: 80%;
    font-size: larger;
}
.body{
    padding: 30px;
    background-image: linear-gradient(grey,rgb(52, 52, 55));
}
.text-area{
    width: 80%;
    margin: 20px;
    background-color: aqua;
}